body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.song-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.song-item h3 {
    margin-top: 0;
}

.song-item p {
    margin-bottom: 5px;
}

.song-item audio {
    width: 100%;
}
